<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SlpCard',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <section>
    <div v-for="(block, index) in data.block" :key="index">
      <span v-if="block.metadata" :id="block.metadata.id_tag || ''"></span>
      <SlpTypography
        v-if="block.header"
        tag="h2"
        variant="heading3"
        class="header"
      >
        {{ block.header }}
      </SlpTypography>
      <div class="container">
        <div v-html="$md.render(block.text)"></div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.container {
  padding: $spacing-24;
  box-shadow: 0px 2px 50px rgba($color-surface-700, 0.08);
  p {
    font-size: $text-button-1;
    line-height: 28px;
    margin-bottom: $spacing-8 !important;
  }
}

.header {
  text-align: center;
  margin-bottom: $spacing-64;
}
</style>
