<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FaqMenu',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      groups: [],
      currentGroupIndex: 0,
    };
  },
  mounted() {
    this.groups = this.data.groups.map((group: Object) => ({
      ...group,
      expanded: false,
    }));
  },
  methods: {
    toggleGroup(groupIndex: number): void {
      if (this.currentGroupIndex === groupIndex) {
        (this as any).groups[this.currentGroupIndex].expanded = !(this as any)
          .groups[this.currentGroupIndex].expanded;

        this.currentGroupIndex = 0;
      } else {
        (this as any).groups[this.currentGroupIndex].expanded = false;
        (this as any).groups[groupIndex].expanded = !(this as any).groups[
          groupIndex
        ].expanded;
        this.currentGroupIndex = groupIndex;
      }
    },
  },
});
</script>
<template>
  <div>
    <SlpTypography tag="h2">{{ data.header }}</SlpTypography>
    <div class="faq_container">
      <div v-for="(group, groupIndex) in groups" :key="group.header">
        <div class="group_header" @click="toggleGroup(groupIndex)">
          <SlpTypography tag="h3" class="header">{{
            group.header
          }}</SlpTypography>
          <img
            v-if="group.expanded"
            src="/nuxt-images/icons/minus.png"
            class="expand-icon"
          />
          <img v-else src="/nuxt-images/icons/plus.png" class="expand-icon" />
        </div>
        <div v-if="group.expanded" class="content">
          <div v-for="question in group.questions" :key="question.question">
            <div class="answer" v-html="$md.render(question.answer)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.faq_container {
  border: 1px solid $color-surface-400;
  box-sizing: border-box;
  border-radius: 4px;
  .group_header {
    padding: $spacing-16 $spacing-24;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background: $color-surface-50;
    border-bottom: 1px solid $color-surface-400;
    @media (min-width: $breakpoint-md) {
      min-width: 509px;
    }
  }

  .content {
    padding: 1rem 23px;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-32 $spacing-24;
    }
    background: #f5f5f5;

    .answer {
      font-size: $text-body-2;
      line-height: $line-height-body-2;

      @media (min-width: $breakpoint-md) {
        line-height: $line-height-heading-5;
        font-size: $spacing-16;
      }
      & ::v-deep a {
        display: inline-block;
        margin-bottom: $spacing-24;

        &:after {
          content: '→';
          opacity: 0;
          transition: 0.25s;
        }

        &:hover:after {
          opacity: 1;
        }
      }
    }
  }
}

h2 {
  margin-bottom: $spacing-32;
  width: 100%;
  text-align: center;

  font-size: $text-heading-1-mobile;
  line-height: $line-height-heading-1-mobile;
  @media (min-width: $breakpoint-md) {
    font-size: $text-heading-2;
    line-height: $line-height-heading-2;
  }
}

.header {
  @media (min-width: $breakpoint-md) {
    line-height: $line-height-heading-3;
  }
  font-size: $text-heading-4;
  line-height: $line-height-heading-4;
  max-width: 100%;
}

.question {
  font-size: $text-heading-5;
  line-height: $line-height-heading-5;
  margin-bottom: $spacing-8;
  @media (min-width: $breakpoint-md) {
    font-size: $text-heading-4;
    line-height: $line-height-heading-4;
  }
}

.expand-icon {
  object-fit: scale-down;
}
</style>
