<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import PartnersCallToAction from '~/components/partners/cta.vue';
import CallToAction from '~/components/cta.vue';
import PartnersFeatureShowcase from '~/components/partners/feature-showcase.vue';
import FreeTrialCTA from '~/components/free-trial-cta.vue';
import SlpContainer from '~/components/container.vue';
import CopyMedia from '~/components/copy-media.vue';
import Copy from '~/components/copy.vue';
import CopyResources from '~/components/copy-resources.vue';
import PullQuote from '~/components/pull-quote.vue';
import Benefits from '~/components/benefits.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    FreeTrialCTA,
    SlpContainer,
    CallToAction,
    PartnersCallToAction,
    PartnersFeatureShowcase,
    CopyMedia,
    Copy,
    CopyResources,
    PullQuote,
    Benefits,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const partner = await $content(
        `partners/technology-partners/${params.partner}`,
      ).fetch();
      return { partner };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partner);
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in partner.components"
      :key="component.name"
      :data="component.data"
    />
    <FreeTrialCTA variant="image" type="pricing" />
  </SlpContainer>
</template>
