<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import SlpContainer from '~/components/container.vue';
import CallToAction from '~/components/stages-devops-lifecycle/cta.vue';
import SideMenu from '~/components/side-menu/side-menu.vue';
import CopyMedia from '~/components/stages-devops-lifecycle/copy-media.vue';
import { getPageMetadata } from '~/common/meta';
import SlpColumn from '~/components/column.vue';
import TopicsCards from '~/components/stages-devops-lifecycle/topics-cards.vue';
import AnchorDropdown from '~/components/stages-devops-lifecycle/anchor-dropdown.vue';
import FreeTrialCTA from '~/components/free-trial-cta.vue';

export default Vue.extend({
  name: 'StagesDevopsLifecycle',
  components: {
    SlpColumn,
    SideMenu,
    SlpContainer,
    CallToAction,
    AnchorDropdown,
    CopyMedia,
    TopicsCards,
    FreeTrialCTA,
  },
  async asyncData({ $content }) {
    const doc = await $content('stages-devops-lifecycle/index').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc);
  },
  mounted() {
    const { sideMenu } = this.$refs;

    document.addEventListener('scroll', function () {
      if (window.scrollY >= 5550.5) {
        sideMenu.$el.style.display = 'none';
      } else sideMenu.$el.style.display = 'block';
    });
  },
});
</script>
<template>
  <SlpContainer class="stages-devops">
    <SlpRow class="row">
      <SlpColumn :cols="10" size="xl">
        <CallToAction :data="doc.call_to_action" />
        <div class="stages">
          <AnchorDropdown
            fixed
            :options="doc.side_menu.links"
            :placeholder="doc.side_menu.placeholder"
          />
          <div ref="copyContainer">
            <CopyMedia
              v-for="contentBlock in doc.copy_medias"
              :key="contentBlock.header"
              :data="contentBlock"
            />
          </div>
        </div>
      </SlpColumn>
      <SideMenu
        v-if="doc.side_menu"
        ref="sideMenu"
        :links="doc.side_menu.links"
      />
      <TopicsCards :data="doc.topics_cards" />
      <FreeTrialCTA
        variant="image"
        primary-button-type="watch_demo"
        secondary-button-type="ask_us"
        title="What’s stopping you from transforming your software development process? "
        subtitle="We’re here to help. Talk to an expert today."
      />
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss"></style>
