<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import SolutionsCallToAction from '~/components/cta.vue';
import SlpContainer from '~/components/container.vue';
import CopyMedia from '~/components/copy-media.vue';
import SolutionsCarouselVideos from '~/components/solutions/carousel-videos.vue';
import CaseStudies from '~/components/solutions/case-studies.vue';
import ImageCard from '~/components/solutions/image-card.vue';
import SlpTable from '~/components/table.vue';
import Copy from '~/components/copy.vue';
import LinkCards from '~/components/link-cards.vue';
import NextStep from '~/components/next-step.vue';
import TabsMenu from '~/components/tabs-menu.vue';
import EducationPricing from '~/components/solutions/education/education-pricing.vue';
import EduSurveyCopyMedia from '~/components/solutions/education/edu-survey-copy-media.vue';
import FeaturedMedia from '~/components/featured-media.vue';
import PullQuote from '~/components/pull-quote.vue';
import MrktoForm from '~/components/form.vue';
import Faq from '~/components/faq.vue';
import SolutionsHero from '~/components/solutions/hero.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    NextStep,
    MrktoForm,
    EducationPricing,
    PullQuote,
    FeaturedMedia,
    EduSurveyCopyMedia,
    TabsMenu,
    LinkCards,
    Copy,
    ImageCard,
    CaseStudies,
    SolutionsCallToAction,
    SlpContainer,
    CopyMedia,
    SolutionsCarouselVideos,
    SlpTable,
    Faq,
    SolutionsHero,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const education = await $content(
        `solutions/education/${params.education ? params.education : 'index'}`,
      ).fetch();
      return { education };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).education);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <div class="solutions-wrapper">
    <SlpContainer>
      <component
        :is="component.name"
        v-for="component in education.components"
        :key="component.name"
        :data="component.data"
      />
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.solutions-wrapper {
  overflow: hidden;
}
</style>
