<script>
import Vue from 'vue';
import NoticeBox from '~/components/notice-box.vue';

export default Vue.extend({
  name: 'MrktoForm',
  components: {
    NoticeBox,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      submitted: false,
    };
  },
  mounted() {
    if (!this.data.form_id) {
      return;
    }

    window.MktoForms2.setOptions({
      formXDPath: '/rs/194-VVC-221/images/marketo-xdframe-relative.html',
    });

    window.MktoForms2.loadForm(
      '//page.gitlab.com',
      '194-VVC-221',
      this.data.form_id,
      (form) => {
        form.onSuccess(() => {
          this.$emit('submit');
          this.submitted = true;
          // eslint-disable-next-line no-undef
          dataLayer.push({
            event: this.data.datalayer,
            mktoFormId: form.getId(),
            eventCallback() {
              form.getFormElem().hide();
            },
            eventTimeout: 3000,
          });
          return false;
        });

        function getgacid() {
          try {
            const tracker = ga.getAll()[0]; // eslint-disable-line no-undef
            return tracker.get('clientId');
          } catch (e) {
            return 'n/a';
          }
        }

        form.vals({
          gacid: getgacid(),
        });
      },
    );
  },
});
</script>

<template>
  <div class="slp-position-relative">
    <script src="//page.gitlab.com/js/forms2/js/forms2.min.js"></script>
    <div
      :id="data.metadata ? data.metadata.id_tag : ''"
      class="grid_container slp-mb-md-96 slp-mb-32"
      :class="{
        'grid_container--background': !data.without_bg,
        'grid_container--no-content': !data.subtitle,
        'grid_container--background-sm': !data.subtitle,
      }"
      :data-slippers-scroll="data.metadata ? data.metadata.id_tag : ''"
    >
      <div
        v-if="data.header || data.subtitle"
        class="header_container"
        :class="{ 'slp-pt-md-64': !data.without_bg }"
        :data-aos="data.content_aos_animation"
        :data-aos-duration="data.content_aos_duration"
        :data-aos-offset="data.aos_offset"
      >
        <SlpTypography
          v-if="data.header"
          class="form_text__header"
          tag="h1"
          variant="heading3-bold"
          >{{ data.header }}
        </SlpTypography>
        <SlpTypography
          v-if="data.subtitle"
          class="form_text__subtitle"
          tag="h3"
          variant="heading4"
          v-html="$md.render(data.subtitle)"
        />
      </div>
      <div
        class="form_text__container"
        :data-aos="data.content_aos_animation"
        :data-aos-duration="data.content_aos_duration"
        :data-aos-offset="data.aos_offset"
      >
        <SlpTypography
          v-if="data.content"
          class="content"
          tag="div"
          variant="body1"
          :class="{ 'slp-mt-96': !data.without_bg }"
        >
          <div v-html="$md.render(data.content)"></div>
        </SlpTypography>
        <div v-else class="content" :class="{ 'slp-mt-96': !data.without_bg }">
          <slot></slot>
        </div>
        <NoticeBox v-if="data.notice_box" :text="data.notice_box" />
      </div>
      <div
        class="form_column slp-px-md-32"
        :class="{ 'slp-pt-md-96': !data.without_bg }"
        :data-aos="data.form_aos_animation"
        :data-aos-duration="data.form_aos_duration"
        :data-aos-offset="data.aos_offset"
      >
        <div v-if="data.form_id" class="form_container">
          <SlpTypography
            v-if="data.form_header && !submitted"
            tag="h3"
            variant="heading3"
            class="form_header"
          >
            {{ data.form_header }}
          </SlpTypography>
          <SlpTypography
            v-if="!submitted"
            tag="p"
            variant="body1"
            class="required_label"
            >All fields required
          </SlpTypography>
          <form
            v-if="!submitted"
            :id="`mktoForm_${data.form_id}`"
            class="mktoForm_container"
          ></form>
          <div v-else class="submitted_message">
            <SlpTypography tag="h3" variant="heading3"
              >Submission received!
            </SlpTypography>
            <SlpTypography v-if="!submitted" tag="p" variant="body1"
              >We'll be in contact shortly.
            </SlpTypography>
          </div>
        </div>
        <iframe
          v-if="data.external_form"
          :src="data.external_form.url"
          :width="data.external_form.width"
          :height="data.external_form.height"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.header_container {
  grid-area: header;
}

.submitted_message {
  text-align: center;
  width: 100%;

  @media (max-width: $breakpoint-lg) {
    padding: 10px;
  }
}

.grid_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px auto;
  grid-template-areas:
    'header'
    'form'
    'content';

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header form'
      'content form';

    &--background {
      grid-template-rows: 300px auto;
    }
  }

  &--background {
    grid-template-rows: 250px auto;

    &:before {
      content: '';
      background-color: #f8f8f8;
      height: 340px;
      width: 100vw;
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
      transform: translateX(-50%);
    }

    &-sm:before {
      height: 240px !important;
    }

    &--no-content {
      grid-template-rows: 150px auto;

      @media (min-width: $breakpoint-lg) {
        grid-template-rows: 200px auto;
      }
    }
  }
}

.form_text__header,
.form_text__subtitle {
  padding: 0 $spacing-16;
}

.form_text__subtitle {
  margin-bottom: $spacing-96;
}

.form_header {
  text-align: center;
  margin-top: $spacing-16;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
  }
}

.required_label {
  font-style: italic;
  margin: 1rem 0;
  font-size: 16px;
  @media (max-width: $breakpoint-lg) {
    padding-left: 10px;
  }
}

.header_container {
  text-align: center;
  @media (min-width: $breakpoint-lg) {
    text-align: left;
  }

  .form_text__header {
    margin: 0 0 $spacing-16 0;
  }
}

.form_text__container {
  grid-area: content;

  .content {
    padding: 0 $spacing-16;
  }

  .content::v-deep {
    ul {
      list-style: url('/nuxt-images/icons/slp-checkmark.svg');
      padding-left: $spacing-24;
      font-size: 16px;
      line-height: 24px;

      li {
        margin-bottom: 1rem;
        padding-left: $spacing-8;
      }
    }

    p {
      margin-bottom: $spacing-24;
    }

    h2 {
      margin-bottom: $spacing-16;
      font-size: 23px;
      line-height: 28px;
    }
  }

  h3 {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 750px;
  }

  p {
    font-size: 16px;
    margin-bottom: $spacing-16;
  }
}

.form_text__container,
.form_column {
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 3rem;
  }
}

.form_column {
  grid-area: form;

  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 4px;

    .sid-ltr {
      background-color: white;
    }
  }

  .form_container {
    position: relative;
    background: #ffffff;
    padding: 0;
    border: none;

    @media (min-width: $breakpoint-md) {
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 4px;
    }

    @media (min-width: $breakpoint-lg) {
      padding: $spacing-32;
    }
  }

  .form {
    text-align: left;
  }
}
</style>
<style lang="scss">
.mktoForm .mktoRequiredField .mktoAsterix {
  display: none !important;
}

.mktoForm .mktoRequiredField label.mktoLabel {
  text-transform: lowercase !important;

  &::first-letter {
    text-transform: uppercase;
  }
}

div.mktoErrorArrowWrap {
  display: none;
}

.mktoForm.mktoLayoutAbove input.mktoField:focus,
.mktoForm.mktoLayoutAbove select.mktoField:focus {
  box-shadow: none;
}

.mktoForm .mktoError div.mktoErrorMsg {
  background: transparent;
  color: #333;
  border: none;
  box-shadow: none;
  display: inline;
  text-shadow: none;
  font-size: 12px;
  line-height: 20px;

  span.mktoErrorDetail {
    display: inline;
  }
}

.mktoForm .mktoError {
  position: unset !important;
}

.mktoForm_container {
  width: 100% !important;

  .mktoField:not([type='radio']) {
    min-height: 48px;
  }

  .mktoFieldDescriptor .mktoFieldWrap input.mktoInvalid {
    border: 1px solid #f24f63;
  }

  .mktoFormRow {
    width: 100%;

    input:not([type='radio']) {
      width: 100%;
    }
  }

  .mktoHasWidth {
    width: 100% !important;
    margin-bottom: 16px;
  }

  .mktoFieldWrap,
  .mktoFormCol,
  #commentCapture {
    width: 100%;
    margin-bottom: 0px;
  }

  .mktoLogicalField.mktoCheckboxList.mktoHasWidth {
    display: flex;

    input[type='checkbox'] {
      width: 30px !important;
    }

    label {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
    }
  }

  .mktoFieldWrap
    input:not([type='checkbox']):not([type='radio']):not([type='hidden']),
  .mktoFieldWrap select {
    width: 100% !important;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 5px;
  }

  .mktoFieldWrap label {
    float: left;
    margin-bottom: 4px;
  }

  .mktoButtonRow {
    width: 100% !important;

    .mktoButtonWrap {
      margin-left: 0px !important;
      width: 100% !important;

      button {
        width: 100% !important;
        background-color: $color-primary-200 !important;
        color: $color-text-50 !important;
        border: 1px solid $color-primary-200 !important;
        background-image: none !important;
        display: inline-block;
        padding: 4px 30px;
        font-size: 16px;
        line-height: 40px;
        min-width: 140px;
        min-height: 52px;
        border-radius: 4px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $color-primary-300 !important;
          color: $color-text-300 !important;
          border: 1px solid $color-primary-200 !important;
        }
      }
    }
  }

  a:not(.btn):not(.slp-btn),
  a:not(.btn):not(.slp-btn):active,
  a:not(.btn):not(.slp-btn):hover,
  a:not(.btn):not(.slp-btn):focus {
    color: #7d2bd9;
  }
}
</style>
