<script lang="ts">
import Vue from 'vue';
import SlpNavigationDesktopMinimized from './navigation-desktop-minimized.vue';

export default Vue.extend({
  name: 'SlpNavigation',
  components: {
    SlpNavigationDesktopMinimized,
  },
  data: () => ({
    navData: {},
  }),
  async fetch() {
    this.navData = (await this.$content('navigation').fetch()) as any;
  },
});
</script>

<template>
  <nav class="navigation">
    <slp-navigation-desktop-minimized />
  </nav>
</template>

<style lang="scss" scoped>
.navigation {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;
  background-color: $color-surface-50;
}
</style>
