<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import SlpContainer from '~/components/container.vue';
import SideMenu from '~/components/side-menu/side-menu.vue';
import AnchorDropdown from '~/components/anchor-dropdown.vue';
import { getPageMetadata } from '~/common/meta';
import CallToAction from '~/components/cta.vue';
import Copy from '~/components/copy.vue';

export default Vue.extend({
  components: {
    Copy,
    AnchorDropdown,
    SideMenu,
    SlpContainer,
    // eslint-disable-next-line vue/no-unused-components
    CallToAction,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const support = await $content(
        `support/${params.support ? params.support : 'index'}`,
      ).fetch();
      return { support };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },

  head(): MetaInfo {
    return getPageMetadata((this as any).support);
  },
});
</script>

<template>
  <SlpContainer>
    <SideMenu v-if="support.side_menu" :links="support.side_menu.links" />
    <anchor-dropdown
      :options="support.side_menu.links"
      fixed
      label="On this page: "
    />
    <SlpColumn :cols="10" size="xl" class="slp-card slp-mt-96">
      <component
        :is="component.name"
        v-for="component in support.components"
        :key="component.name"
        :data="component.data"
      />
    </SlpColumn>
  </SlpContainer>
</template>

<style scoped></style>
