<script lang="ts">
import Vue from 'vue';
import CaseStudyCard from '~/components/customers/casestudy-card.vue';

interface CaseStudyFilter {
  industryMatchers: string[];
  regionMatchers: string[];
  companySizeMatchers: string[];
}

interface CaseStudy {
  companySize: string;
  industry: string;
  region: string;
}

interface FilterWrapperData {
  allCaseStudies: CaseStudy[];
  companySizeMatcher: string;
  industryMatcher: string;
  regionMatcher: string;
  maxCaseStudies: number;
}

export default Vue.extend({
  components: {
    /* eslint-disable vue/no-unused-components */
    CaseStudyCard,
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
  data(): FilterWrapperData {
    return {
      allCaseStudies: this.data as CaseStudy[],
      companySizeMatcher: '',
      industryMatcher: '',
      regionMatcher: '',
      maxCaseStudies: 6,
    };
  },
  computed: {
    computedFilter(): CaseStudyFilter {
      const { industryMatcher, regionMatcher, companySizeMatcher } =
        this as FilterWrapperData;

      // TODO:
      // right now, we're using v-model to bind selects to these values,
      // but in the future, we want to write a multi-select.
      // That means we'll need to use a different data structure, and capture onChange events differently.
      return {
        industryMatchers: [industryMatcher],
        regionMatchers: [regionMatcher],
        companySizeMatchers: [companySizeMatcher],
      };
    },
    activeMatchers(): String[] {
      const { industryMatcher, regionMatcher, companySizeMatcher } =
        this as FilterWrapperData;

      const matchers = [
        industryMatcher,
        regionMatcher,
        companySizeMatcher,
      ].filter((matcher) => matcher !== '');

      return matchers;
    },
    filterResults(): CaseStudy[] {
      if (this.computedFilterIsEmpty()) {
        return this.allCaseStudies;
      }

      return this.allCaseStudies.filter((caseStudy: CaseStudy) => {
        return this.matchesFilter(caseStudy, this.computedFilter);
      });
    },
    filterResultsWithLimit(): CaseStudy[] {
      return this.filterResults.slice(0, this.maxCaseStudies);
    },
  },
  watch: {
    // If we update matcher values, reset the max case studies.
    companySizeMatcher() {
      this.maxCaseStudies = 6;
    },
    industryMatcher() {
      this.maxCaseStudies = 6;
    },
    regionMatcher() {
      this.maxCaseStudies = 6;
    },
  },
  methods: {
    computedFilterIsEmpty(): boolean {
      const { industryMatcher, regionMatcher, companySizeMatcher } =
        this as FilterWrapperData;

      return (
        industryMatcher === '' &&
        regionMatcher === '' &&
        companySizeMatcher === ''
      );
    },
    matchesFilter(caseStudy: CaseStudy, filter: CaseStudyFilter) {
      return (
        filter.companySizeMatchers.includes(caseStudy.companySize) ||
        filter.industryMatchers.includes(caseStudy.industry) ||
        filter.regionMatchers.includes(caseStudy.region)
      );
    },
    resetSelectedFilters() {
      this.companySizeMatcher = '';
      this.industryMatcher = '';
      this.regionMatcher = '';
    },
    incrementCaseStudiesToShow() {
      const safeToAdd3 = this.maxCaseStudies < this.allCaseStudies.length + 3;

      if (safeToAdd3) {
        this.maxCaseStudies += 3;
      } else {
        this.maxCaseStudies = this.allCaseStudies.length;
      }
    },
  },
});
</script>

<template>
  <div class="filter-wrapper">
    <div class="checkbox-wrapper">
      <div class="dropdown">
        <select
          id="companySize"
          v-model="companySizeMatcher"
          name="companySizeMatchers"
        >
          <option value="">Company Size</option>
          <option value="Small to Medium Business (0 - 100)">
            Small to Medium Business (0 - 100)
          </option>
          <option value="Mid-Market (101 - 2000)">
            Mid-Market (101 - 2000)
          </option>
          <option value="Enterprise (2001+)">Enterprise (2001+)</option>
        </select>
      </div>

      <div class="dropdown">
        <select id="industry" v-model="industryMatcher" name="industryMatchers">
          <option value="">Industry</option>
          <option value="Education">Education</option>
          <option value="Financial Services">Financial Services</option>
          <option value="Open Source Software">Open Source Software</option>
          <option value="Public Sector">Public Sector</option>
          <option value="Retail">Retail</option>
          <option value="Science and Research">Science &amp; Research</option>
          <option value="Technology">Technology</option>
        </select>
      </div>

      <div class="dropdown">
        <select id="region" v-model="regionMatcher" name="regionMatchers">
          <option value="">Region</option>
          <option value="North America">North America</option>
          <option value="Latin America">Latin America</option>
          <option value="Europe, the Middle East, and Africa">
            Europe, the Middle East, and Africa
          </option>
          <option value="Asia Pacific">Asia Pacific</option>
        </select>
      </div>
    </div>

    <div class="filter-pills">
      <!-- TODO: When multi-select dropdown is complete, then implement filter pills -->
      <!-- <span
        v-for="(matcher, index) in activeMatchers"
        :key="`matcherTag${index}`"
        >{{ matcher }}</span
      > -->
      <button
        v-if="companySizeMatcher || regionMatcher || industryMatcher"
        class="clear"
        @click="resetSelectedFilters"
      >
        <span>&times;</span> Clear All
      </button>
    </div>

    <div v-if="filterResults.length >= 1">
      <div class="card-wrapper">
        <CaseStudyCard
          v-for="card in filterResultsWithLimit"
          :key="card.title"
          :data="card"
        />
      </div>
      <div v-if="maxCaseStudies < filterResults.length - 1" class="load-more">
        <SlpHorizontalRule />
        <button
          class="slp-btn-secondary"
          aria-label="View more results"
          @click="incrementCaseStudiesToShow"
        >
          <div><span class="plus">+</span>Load more</div>
        </button>
      </div>
    </div>
    <div v-if="filterResults.length == 0" class="card-wrapper">
      <SlpTypography variant="heading3" tag="h3">
        No results found.
      </SlpTypography>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.filter-wrapper {
  margin-top: $spacing-32;
  margin-bottom: $spacing-160;
}

.checkbox-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  & > .dropdown {
    margin: 0 $spacing-8;
    width: 28%;
  }

  @media (max-width: 574px) {
    & > .dropdown {
      width: 100%;
      margin-bottom: $spacing-8;
    }
  }
}

.card-wrapper {
  display: flex;
  margin-top: $spacing-48;
  flex-wrap: wrap;

  & > h3 {
    margin: 0 auto;
  }

  & > article {
    margin-bottom: $spacing-16;
    max-width: 350px;

    @media (max-width: 1169px) {
      margin: 0.5rem;
      max-width: 300px;
    }

    @media (max-width: 701px) {
      max-width: 250px;
    }

    @media (max-width: 565px) {
      max-width: 100%;
    }
  }
}

.load-more {
  margin-top: $spacing-64;
  position: relative;
}

.slp-btn-secondary {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  background-color: $color-surface-50;
  color: $color-text-300;
  border: 1px solid $color-surface-700;
  box-shadow: 0 4px 8px hsl(0deg 0% 77% / 25%);
  min-width: 68px;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.1111;
  transition: background-color 0.15s ease-in-out;

  & > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .plus {
    margin-right: $spacing-8;
    width: 15px;
    font-size: 24px;
    height: auto;
  }

  &:hover {
    background-color: $color-surface-700;
    color: $color-surface-50;
  }
}

.filter-pills {
  height: 5rem;
}

.clear {
  margin: $spacing-16 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  cursor: pointer;
  color: $color-text-link-100;
  font-size: $text-body-3;
  line-height: $line-height-body-3;
  font-weight: $font-weight-bold;

  span {
    font-size: 20px;
    margin-right: 9px;
  }
}

.dropdown {
  position: relative;
  border: 1px solid $color-surface-700;
  border-radius: $border-radius-4;
  background: transparent;

  &:after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292894 1.70711C-0.0976312 1.31658 -0.0976312 0.683417 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292894Z' fill='%23333333'/%3E%3C/svg%3E");
    width: 0;
    height: 0;
    position: absolute;
    right: 24px;
    top: 10px;
    pointer-events: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    background: transparent;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 14px 12px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
</style>
