<script>
export default {
  props: {
    filterLabel: {
      type: String,
      required: true,
    },
    values: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      selectedValues: [],
      showDropdown: false,
    };
  },
  methods: {
    resetValues() {
      this.selectedValues = [];
      this.$emit('customChange', this.selectedValues);
    },
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
    customChange($event) {
      if ($event.target.checked) {
        this.selectedValues.push($event.target.value);
        return this.$emit('customChange', this.selectedValues);
      }
      this.selectedValues = this.selectedValues.filter(
        (existingValue) => existingValue !== $event.target.value,
      );
      return this.$emit('customChange', this.selectedValues);
    },
  },
};
</script>

<template>
  <article class="checkbox-container">
    <div class="dropdown-label" @click="toggleDropdown()">
      <p>{{ filterLabel }}</p>
      <img
        :class="showDropdown ? 'open' : ''"
        src="/nuxt-images/icons/list-arrow.svg"
      />
    </div>
    <div v-show="showDropdown">
      <div v-for="value in values" :key="value.name" class="checkbox">
        <label :for="value">
          {{ value }}
          <input
            :id="value"
            type="checkbox"
            :value="value"
            :name="filterLabel"
            @change="customChange"
          />
          <span class="checkbox-input"></span>
        </label>
      </div>
      <button class="reset-btn" @click="resetValues">Reset</button>
    </div>
  </article>
</template>

<style lang="scss" scoped>
.checkbox-container {
  display: block;
  border: 1px solid $color-surface-700;
  border-radius: $border-radius-4;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  cursor: pointer;
  width: 215px;
}

.dropdown-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;

  img {
    transform: rotate(90deg);
  }

  img.open {
    transform: rotate(-90deg);
  }
}

.checkbox {
  margin-bottom: $spacing-16;
  padding-left: 12px;
  padding-right: 12px;

  &:first-of-type {
    margin-top: $spacing-16;
  }

  label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: $spacing-24;
    margin-bottom: $spacing-16;
    line-height: 18px;
  }

  .checkbox-input {
    position: absolute;
    display: inline;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 1px;

    &:after {
      position: absolute;
      content: '';
      left: 4px;
      bottom: 3px;
      width: 7px;
      height: 12px;
      border: solid $color-surface-50;
      border-width: 0px 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  input:not(:checked) {
    & + .checkbox-input {
      border: 1px solid $color-surface-600;
      background: $color-surface-50;

      &:after {
        display: none;
      }
    }
  }

  input:checked {
    & + .checkbox-input {
      border: 1px solid $color-accent-200;
      background: $color-accent-200;

      &:after {
        display: block;
      }
    }
  }

  input {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
  }
}

.reset-btn {
  outline: none;
  border-top: 1px solid $color-surface-200;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 12px;
  text-align: center;
  display: block;
  width: 100%;
  color: $color-text-link-100;
  cursor: pointer;
}
</style>
