<script>
import SlpTwitter from '~/static/nuxt-images/ico/fa-twitter.vue';
import SlpFacebook from '~/static/nuxt-images/ico/fa-facebook.vue';
import SlpYoutube from '~/static/nuxt-images/ico/fa-youtube.vue';
import SlpLinkedin from '~/static/nuxt-images/ico/fa-linkedin.vue';

export default {
  name: 'SlpFooter',
  components: {
    SlpTwitter,
    SlpFacebook,
    SlpYoutube,
    SlpLinkedin,
  },
  data() {
    return {
      content: [],
      currentYear: new Date().getFullYear(),
    };
  },
  async fetch() {
    const { content } = await this.$content('footer').fetch();
    this.content = content;
  },
};
</script>

<template>
  <footer class="footer">
    <SlpContainer>
      <div class="footer__cta">
        <div class="logo">
          <img src="/nuxt-images/logos/gitlab.svg" alt="GitLab logo" />
        </div>
        <div class="source">
          <SlpTypography tag="p">
            Git is a trademark of Software Freedom Conservancy and our use of
            'GitLab' is under license
          </SlpTypography>
          <p>
            View
            <a
              href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/sites/marketing/source/index.html.haml"
              data-ga-name="page source"
              data-ga-location="footer"
              >page source</a
            >
            — Edit in
            <a
              href="https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/sites/marketing/source/index.html.haml"
              data-ga-name="web ide"
              data-ga-location="footer"
              >Web IDE</a
            >
            — please
            <a
              href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md"
              data-ga-name="please contribute"
              data-ga-location="footer"
              >contribute</a
            >.
          </p>
          <p>&copy; {{ currentYear }} GitLab B.V.</p>
        </div>
        <ul class="social__links">
          <li class="social__links--item">
            <a
              href="https://twitter.com/gitlab"
              data-ga-name="twitter"
              data-ga-location="footer"
            >
              <SlpTwitter class="social__links--icon" />
            </a>
          </li>
          <li class="social__links--item">
            <a
              href="https://www.facebook.com/gitlab"
              data-ga-name="facebook"
              data-ga-location="footer"
            >
              <SlpFacebook class="social__links--icon" />
            </a>
          </li>
          <li class="social__links--item">
            <a
              href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"
              data-ga-name="youtube"
              data-ga-location="footer"
            >
              <SlpYoutube class="social__links--icon" />
            </a>
          </li>
          <li class="social__links--item">
            <a
              href="https://www.linkedin.com/company/gitlab-com"
              data-ga-name="linkedin"
              data-ga-location="footer"
            >
              <SlpLinkedin class="social__links--icon" />
            </a>
          </li>
        </ul>
      </div>
    </SlpContainer>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  background-color: $color-surface-700;
  color: $color-text-50;
  padding: 40px $spacing-16;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer__cta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .social__links--icon {
    width: 24px;
    height: auto;
    color: $color-text-50;
  }

  .logo {
    margin-right: $spacing-96;
    margin-bottom: $spacing-48;
    width: 100%;
  }

  .source {
    margin: 0 auto 0 0;

    p {
      margin-bottom: $spacing-8;
      font-size: $text-body-3;
    }

    a {
      font-weight: $font-weight-bold;
      color: $color-text-50;
      text-decoration: underline;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  .social__links {
    display: flex;
    align-items: center;
    margin-top: $spacing-32;
    width: 100%;
    gap: 16px;
  }
}

@media (min-width: 900px) {
  .footer {
    padding: 40px $spacing-96 40px $spacing-64;

    .logo {
      margin-top: 0;
      width: auto;
      margin-bottom: 0;
    }

    .footer__cta {
      align-items: center;
      flex-wrap: nowrap;
    }

    .social__links {
      margin-top: 0;
      width: inherit;
    }
  }
}
</style>
