<script lang="ts">
import Vue from 'vue';
import MinimizedNavigation from '~/components/navigation/minimized-navigation.vue';

export default Vue.extend({
  components: {
    MinimizedNavigation,
  },
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href:
            this.$route.path === '/'
              ? 'https://about.gitlab.com/'
              : `https://about.gitlab.com${this.$route.path}/`,
        },
      ],
    };
  },
  beforeMount() {
    document.addEventListener('webIDE', () => {
      const fileName =
        this.$route.path.replace(/(^\/)|(\/$)/g, '') || this.$route.name;
      window.location.href = `https://gitlab.com/-/ide/project/gitlab-com/marketing/digital-experience/buyer-experience/edit/main/-/content/${fileName}.yml`;
    });
  },
});
</script>

<template>
  <div>
    <MinimizedNavigation />
    <Nuxt />
    <SlpFooter />
  </div>
</template>
