<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '../common/meta';
import SolutionsHero from '~/components/solutions/hero.vue';
import ByIndustryIntro from '~/components/solutions/by-industry/by-industry-intro.vue';
// import SideNavigation from '~/components/side-navigation.vue';
import BySolutionIntro from '~/components/solutions/by-solution/by-solution-intro.vue';
import BySolutionBenefits from '~/components/solutions/by-solution/by-solution-benefits.vue';
import BySolutionValueProp from '~/components/solutions/by-solution/by-solution-value-prop.vue';
import ByIndustryCaseStudies from '~/components/solutions/by-industry/by-industry-casestudies.vue';
import SolutionsResourceCards from '~/components/solutions/resource-cards.vue';
import FeaturesCTA from '~/components/next-step.vue';
import ByIndustrySolutionsBlock from '~/components/solutions/by-industry/by-industry-solutions-block.vue';

export default Vue.extend({
  components: {
    SolutionsHero,
    ByIndustryIntro,
    // SideNavigation,
    BySolutionIntro,
    BySolutionBenefits,
    BySolutionValueProp,
    ByIndustryCaseStudies,
    ByIndustrySolutionsBlock,
    SolutionsResourceCards,
    FeaturesCTA,
  },
  async asyncData({ $content, error }: any) {
    try {
      const enterprise = await $content(`enterprise`).fetch();
      return { enterprise };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head() {
    return getPageMetadata((this as any).enterprise);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <SolutionsHero :data="enterprise['solutions_hero']" />
    <ByIndustryIntro :data="enterprise['by_industry_intro']" />
    <!-- <SideNavigation
      :links="[
        { title: 'Overview', href: '#overview' },
        { title: 'Benefits', href: '#benefits' },
        { title: 'Capabilities', href: '#capabilities' },
        { title: 'Case Studies', href: '#case-studies' },
      ]"
    >
    </SideNavigation> -->
    <div id="overview" data-slippers-scroll="overview">
      <BySolutionIntro :data="enterprise['by_solution_intro']" />
      <BySolutionBenefits :data="enterprise['by_solution_benefits']" />
    </div>
    <BySolutionValueProp
      id="benefits"
      :data="enterprise['by_solution_value_prop']"
      data-slippers-scroll="benefits"
    />
    <div
      id="capabilities"
      class="slp-py-96"
      data-slippers-scroll="capabilities"
    >
      <ByIndustrySolutionsBlock
        :data="enterprise['by_industry_solutions_block']"
      />
    </div>
    <ByIndustryCaseStudies
      id="case-studies"
      :data="enterprise['by_industry_case_studies']"
      data-slippers-scroll="case-studies"
    />
    <SolutionsResourceCards :data="enterprise['solutions_resource_cards']" />
    <FeaturesCTA />
  </div>
</template>
