<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '../common/meta';
import FifteenCountdown from '../components/fifteen/countdown.vue';
import CopyMedia from '../components/copy-media.vue';
import SlpContainer from '../components/container.vue';
import NextStep from '../components/next-step.vue';
import MrktoForm from '../components/form.vue';
import FifteenHero from '../components/fifteen/hero.vue';

export default Vue.extend({
  name: 'Fifteen',
  components: {
    FifteenHero,
    MrktoForm,
    NextStep,
    SlpContainer,
    CopyMedia,
    FifteenCountdown,
  },
  async asyncData({ $content }) {
    const page = await $content('fifteen').fetch();
    return { page };
  },
  head() {
    return getPageMetadata((this as any).page);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <section>
    <FifteenHero :data="page.hero_image_block" />
    <SlpContainer>
      <MrktoForm :data="page.register_form_block" />
    </SlpContainer>
    <!--    <SlpContainer variant="light-purple-100" class="fifteen-main-event">-->
    <!--      <FifteenMainEvent :data="page.main_event_block" />-->
    <!--    </SlpContainer>-->
    <SlpContainer>
      <CopyMedia :data="page.contribute_block" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <FifteenCountdown :data="page.countdown_block" />
    </SlpContainer>
    <SlpContainer>
      <NextStep />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.fifteen-main-event {
  padding: $spacing-64 0;
  margin-bottom: $spacing-48;

  @media (min-width: $breakpoint-md) {
    margin-bottom: $spacing-96;
    padding: 160px 0;
  }
}
</style>
