<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import SlpContainer from '~/components/container.vue';
import SlpRow from '~/components/row.vue';
import CallToAction from '~/components/analysts/cta.vue';
import TabsMenu from '~/components/tabs-menu.vue';
import Copy from '~/components/copy.vue';
import CopyMedia from '~/components/copy-media.vue';
import { getPageMetadata } from '~/common/meta';
import SlpColumn from '~/components/column.vue';
import FeaturedReports from '~/components/analysts/featured-reports.vue';
import CopyFaq from '~/components/analysts/copy-faq.vue';
import Contacts from '~/components/analysts/contacts.vue';
import FreeTrialCTA from '~/components/free-trial-cta.vue';
import TopicsHeader from '~/components/topics/header.vue';

export default Vue.extend({
  name: 'Analysts',
  components: {
    SlpColumn,
    SlpRow,
    TabsMenu,
    SlpContainer,
    CallToAction,
    Copy,
    CopyMedia,
    CopyFaq,
    Contacts,
    FreeTrialCTA,
    FeaturedReports,
    TopicsHeader,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const analysts = await $content(
        `analysts/${params.analysts ? params.analysts : 'index'}`,
      ).fetch();

      return { analysts };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).analysts);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>
<template>
  <SlpContainer>
    <SlpRow>
      <SlpColumn :cols="12">
        <component
          :is="component.name"
          v-for="component in analysts.components"
          :key="component.name"
          :data="component.data"
        ></component>
      </SlpColumn>
    </SlpRow>
    <SlpRow>
      <SlpColumn>
        <FreeTrialCTA variant="image" type="pricing" />
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>
<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
